/***** Colors *****/
$white: #ffffff;
$black: #000000;
$darkBlue: #375874;
$transparentBlue: rgba(55, 88, 116, 0.6);
$transparentWhite: rgba(255, 255, 355, 0.9);
$neonGreen: #19FFB3;
$neonPink: #F04A83;
$neonPinkHover: #c93d60;
$lightGray: #b6b6b6;

$browserContext: 16;